#map_canvas
#header MEETUPMAPS.COM

#sidebar

%script{:id=>'sidebar-template', :type => 'text/x-handlebars-template'}
  #search
    #location
      Searching near
      %span.current_zip 11217
      %a{:href=>"#"} Change location
    #category
      %select#categories
        %option{:value=>'foo'} Select a Category
        {{#categories}}
        %option{:value => '{{shortname}}'} 
          {{name}}
        {{/categories}}
      %p -- OR --
      %input#topic{:placeholder => 'Search by Topic'}
    %button#submit Find Meetups    
:plain
  <script id="category-template" type="text/x-handlebars-template">
    {{#categories}}
      <option value="{{shortname}}">{{name}}</option>
    {{/categories}}
  </script>