// Place all the styles related to the meetups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
#header{
  position:absolute;
  z-index:2;
  padding:3px;
  background:#EAEAEA;
}
#sidebar{
  position:absolute;
  z-index:2;
  top:40px;
  width:250px;
  height:500px;
  background:#EAEAEA;
  padding:8px;
}